html{
    font-family: "Times New Roman", Times, serif;
    font-size:12px;
}
#playlist{
	width:90em;
	height:56em;
	border: 5px solid black;
	border-radius: 20px;
}
#song{
	width: 15em;
	height: 46em;
	display: inline-block;
	text-align: center;
	float:left;
	font-variant: small-caps;
}
#artist{
	width: 12em;
	height: 30em;
	display: inline-block;
	float:left;
	text-align: center;
	font-weight: bold;
	font-size:14.4px;
}
#albumName{
	width: 15em;
	height: 46em;
	display: inline-block;
	text-align: center;
	font-style: italic;
	float:left;
}
#albumCover{
	width: 15em;
	height: 46em;
	display: inline-block;
	text-align: center;
	float:left;
}
#release{
	font-size:9.6px;
	width: 15em;
	height: 46em;
	display: inline-block;
	text-align: center;
	float:left;
}
#genre{
	font-size:9.6px;
	width: 15em;
	height: 46em;
	display: inline-block;
	text-align: center;
	float:left;
}

.title{
	width: 15em;
	height:4em;
}
.elem{
	width:140px;
	height:100px;
}
.elemFav{
	width:140px;
	height:100px;
	color:green;
}
.cover{
	width:7em;
	height:7em;
}
.footer {
	font-size:9.6px;
	font-style: italic;
	position: absolute;
	bottom: 35px;
	left:500px;
	padding: 1rem;
	text-align: center;
}